* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  color: #F6F6F6;
}
header .headerContent {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
header .headerContent ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header .headerContent ul li {
  margin-right: 15px;
}
header .headerContent ul li a {
  text-decoration: none;
  color: #F6F6F6;
}
header .nav {
  background-color: #F6F6F6;
}
header .nav ul {
  display: flex;
}
header .nav ul li {
  margin-right: 20px;
  padding-top: 10px;
}
header .nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.carousel .carouselContent img {
  width: 100%;
  height: auto;
}

.product {
  background-color: #FFFCFC;
  margin: 20px;
  padding: 20px;
}
.product .content h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.product .menu .card {
  float: left;
  width: 30%;
  position: relative;
  margin: 1.5%;
}
.product .menu .card .imgProduct img {
  width: 100%;
  height: auto;
}
.product .menu .card .textProduct {
  padding: 20px;
}
.product .menu .card .textProduct h2 {
  font-size: 24px;
  font-weight: 400;
}
.product .menu .card .textProduct h3 {
  font-size: 20px;
  font-weight: 400;
  color: #CBC9C9;
}
.product .menu .card .button .bt1 {
  background-color: #E1B067;
  float: left;
  width: 60%;
  text-align: center;
  padding: 10px;
}
.product .menu .card .button .bt1 a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  background-color: #E1B067;
}
.product .menu .card .button .bt2 {
  background-color: #DEDDDC;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
  padding: 10px;
}

.formInfo .container {
  display: flex;
  justify-content: space-around;
}

.form {
  margin-bottom: 50px;
}
.form .container {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}
.form .container .form-control {
  width: 180%;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}/*# sourceMappingURL=style.css.map */